<!<img src="assets/image/bannerPel.png" >
<div class="container section">
    <div class="row">
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/image/Card1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Historia</span>
              <p><a href="elements/history">Ver mas</a></p>
            </div>
          </div>
        </div>
          <div class="col s4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/image/Card1.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Horarios</span>
                <p><a href="#">Ver mas</a></p>
              </div>
            </div>
        </div>
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/image/Card1.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Donaciones</span>
              <p><a href="#">Ver mas</a></p>
            </div>
          </div>
    </div>
</div>
