<div class="parallax-container">
  <div class="parallax">
    <img src="assets/image/16.png" alt="">
  </div>
</div>

<div class="black white-text center">
  <div class="container">
    <div class="section">
      <h3>lorem, ipsum dolor.</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laborum? Magni tempora, porro eligendi corrupti, nostrum possimus sit maxime voluptas exercitationem quaerat id error consequatur enim ab nam maiores autem?</p>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="assets/image/2.png" alt="">
  </div>
</div>