<form [formGroup]="userFormGroup" (ngSubmit)="saveNewUser()">
  <div class="row">
    <div class="input-field hoverable col s6">
      <i class="material-icons prefix">contacts</i>
      <input formControlName="realm" id="realm" type="text" class="validate">
      <label for="realm">Nombres</label>
      <div class="errorContainer" *ngIf="(realm.touched || realm.dirty) && realm.invalid">
        <div class="card-panel white">
          Este campo es requerido!!
        </div>
        <div class="card-panel white">
          Este campo como minimo debe tener 4 caracteres de longitud!!
        </div>
        <div class="card-panel white">
          Este campo como maximo debe tener 25 caracteres de longitud!!
        </div>
      </div>
    </div>
    <div class="input-field hoverable col s6">
      <i class="material-icons prefix">contacts</i>
      <input formControlName="username" id="username" type="text" class="validate">
      <label for="username">Apellidos</label>
      <div class="errorContainer" *ngIf="(username.touched || username.dirty) && username.invalid">
        <div class="card-panel white">
          Este campo es requerido!!
        </div>
        <div class="card-panel white">
          Este campo como minimo debe tener 4 caracteres de longitud!!
        </div>
        <div class="card-panel white">
          Este campo como maximo debe tener 25 caracteres de longitud!!
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field hoverable col s6">
      <i class="material-icons prefix">account_circle</i>
      <input formControlName="id" id="id" type="text" class="validate">
      <label for="id">Cedula</label>
      <div class="errorContainer" *ngIf="(id.touched || id.dirty) && id.invalid">
        <div class="card-panel white">
          Este campo es requerido!!
        </div>
        <div class="card-panel white">
          Este campo como minimo debe tener 4 caracteres de longitud!!
        </div>
        <div class="card-panel white">
          Este campo como maximo debe tener 25 caracteres de longitud!!
        </div>
      </div>
    </div>
    <div class="input-field hoverable col s6">
      <i class="material-icons prefix">email</i>
      <input formControlName="email" id="email" type="email" class="validate">
      <label for="email">Email</label>
      <div class="errorContainer" *ngIf="(email.touched || email.dirty) && email.invalid">
        <div class="card-panel white">
          Este campo es requerido!!
        </div>
        <div class="card-panel white">
          Este campo como minimo debe tener 4 caracteres de longitud!!
        </div>
        <div class="card-panel white">
          Este campo como maximo debe tener 25 caracteres de longitud!!
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field hoverable col s6">
      <i class="material-icons prefix">vpn_key</i>
      <input formControlName="password" id="password" type="password" class="validate">
      <label for="password">Contraseña</label>
      <div class="errorContainer" *ngIf="(password.touched || password.dirty) && password.invalid">
        <div class="card-panel white">
          Este campo es requerido!!
        </div>
        <div class="card-panel white">
          Este campo como minimo debe tener 4 caracteres de longitud!!
        </div>
        <div class="card-panel white">
          Este campo como maximo debe tener 25 caracteres de longitud!!
        </div>
      </div>
    </div>
    <div class="input-field hoverable col s6">
      <i class="material-icons prefix">replay</i>
      <input formControlName="realm" id="password2" type="password" class="validate">
      <label for="password2">Confirmacion contraseña</label>
    </div>
  </div>
  <button class="waves-effect waves-ligth btn green" type="submit">
    <i class="material-icons right">done</i>
    registrarme</button>