<form [formGroup]="playerFormGroup" (ngSubmit)="saveNewPlayer()">
    <div class="row">
        <div class="row">
            <div class="input-fiel col s4">
                <input formControlName="name" id="name" type="text" class="validate">
                <label for="name">Nombre</label>
                <div class="errorContainer" *ngIf="(name.touched || name.dirty) && name.invalid">
                    <div class="card-panel white">
                        Este campo es requerido!!
                    </div>
                    <div class="card-panel white">
                        Este campo como minimo debe tener 4 caracteres de longitud!!
                    </div>
                    <div class="card-panel white">
                        Este campo como maximo debe tener 25 caracteres de longitud!!
                    </div>
                </div>
            </div>
            <div class="input-fiel col s4">
                <input formControlName="lastname" id="lastname" type="text" class="validate">
                <label for="lastname">Apellido</label>
                <div class="errorContainer" *ngIf="(lastname.touched || lastname.dirty) && lastname.invalid">
                    <div class="card-panel white">
                        Este campo es requerido!!
                    </div>
                    <div class="card-panel white">
                        Este campo como minimo debe tener 4 caracteres de longitud!!
                    </div>
                    <div class="card-panel white">
                        Este campo como maximo debe tener 25 caracteres de longitud!!
                    </div>
                </div>
            </div>
            <div class="input-fiel col s4">
                <input formControlName="code" id="code" type="text" class="validate">
                <label for="code">Cedula</label>
                <div class="errorContainer" *ngIf="(code.touched || code.dirty) && code.invalid">
                    <div class="card-panel white">
                        Este campo es requerido!!
                    </div>
                    <div class="card-panel white">
                        Este campo como minimo debe tener 8 caracteres de longitud!!
                    </div>
                    <div class="card-panel white">
                        Este campo como maximo debe tener 12 caracteres de longitud!!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-fiel col s4">
                <input formControlName="email" id="email" type="text" class="validate">
                <label for="email">Email</label>
                <div class="errorContainer" *ngIf="(email.touched || email.dirty) && email.invalid">
                    <div class="card-panel white">
                        Este campo es requerido!!
                    </div>
                    <div class="card-panel white">
                        Este campo como minimo debe tener 4 caracteres de longitud!!
                    </div>
                    <div class="card-panel white">
                        Este campo como maximo debe tener 35 caracteres de longitud!!
                    </div>
                </div>
            </div>
            <div class="input-fiel col s4">
                <input formControlName="rol" id="rol" type="text" class="validate">
                <label for="rol">Rol</label>
            </div>
            <div class="input-fiel col s4">
                <input formControlName="phone" id="phone" type="text" class="validate">
                <label for="phone">Telefono</label>
                <div class="errorContainer" *ngIf="(phone.touched || phone.dirty) && phone.invalid">
                    <div class="card-panel white">
                        Este campo es requerido!!
                    </div>
                    <div class="card-panel white">
                        Este campo como minimo debe tener 8 caracteres de longitud!!
                    </div>
                    <div class="card-panel white">
                        Este campo como maximo debe tener 14 caracteres de longitud!!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-fiel col s3">
                <input formControlName="age" id="age" type="text" class="validate">
                <label for="age">Edad</label>
                <div class="errorContainer" *ngIf="(age.touched || age.dirty) && age.invalid">
                    <div class="card-panel white">
                        Este campo es requerido!!
                    </div>
                    <div class="card-panel white">
                        Este campo como maximo debe tener 3 caracteres de longitud!!
                    </div>
                </div>
            </div>
            <div class="input-fiel col s3">
                <input formControlName="weigth" id="weigth" type="text" class="validate">
                <label for="weigth">Peso</label>
            </div>
            <div class="input-fiel col s3">
                <input formControlName="height" id="height" type="text" class="validate">
                <label for="height">Estatura</label>
            </div>
            <div class="input-fiel col s3">
                <input formControlName="titles" id="titles" type="text" class="validate">
                <label for="titles">Titulos deportivos</label>
            </div>
        </div>
        <div class="row">
            <div class="input-fiel col s4">
                <input formControlName="strengths" id="strengths" type="text" class="validate">
                <label for="strengths">Fortalezas</label>
            </div>
            <div class="input-fiel col s4">
                <input formControlName="link" id="link" type="text" class="validate">
                <label for="link">Red Social(Link)</label>
            </div>
            <div class="input-fiel col s4">
                <input formControlName="image" id="image" type="text" class="validate">
                <label for="image">Foto (link)</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="waves-effect waves-ligth btn green" type="submit">
                    <i class="material-icons right">save</i>
                    Guardar</button>
            </div>
        </div>
    </div>
</form>