<nav>
    <strong *ngIf="userLogged"></strong>
    <div class="nav-wrapper blue">
        <a href="/home" class="brand-logo center">Pelicanos</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/player/view">Players</a></li>
            <li *ngIf="userLogged"><a href="/player/list">Players list</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="!userLogged"><a href="/user/login">Iniciar Sesión</a></li>
            <li *ngIf="!userLogged"><a href="/user/register">Registrarse</a></li>
            <li *ngIf="userLogged"><a href="/user/logout">Cerrar Sesión</a></li>
            <li>
                <div *ngIf="userLogged">
                    <strong>En session {{CompleteName}}</strong>
                </div>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-hotel">
    <li><a *ngIf="!userLogged" href="/security/login">Login</a></li>
    <li><a *ngIf="userLogged" href="/security/logout">Logout</a></li>
</ul>