<nav class="blue">
    <div class="nav-wrapper">
        <a routerLink="/home" class="brand-logo center">Pelicanos</a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a routerLink="/player/view">Players</a></li>
            <li *ngIf="userLogged"><a routerLink="/player/list">Players list</a></li>
            
        </ul>
        <ul class="right hide-on-med-and-down">           
            <li *ngIf="!userLogged"><a routerLink="/user/login">Iniciar Sesión</a></li>
            <li *ngIf="!userLogged"><a routerLink="/user/register">Registrarse</a></li>
            <li *ngIf="userLogged"><a routerLink="/user/logout">Cerrar Sesión</a></li>
            <li>
                <div *ngIf="userLogged">
                    <strong>En session {{CompleteName}}</strong>
                </div>
            </li>
        </ul>
    </div>
    
</nav>

<ul class="sidenav" id="mobile-demo">
    <li ><a routerLink="/player/list">Player</a></li>
    <li><a routerLink="/user/loginl">login</a></li>
    <li><a routerLink="/user/register">register</a></li>
</ul>

