	<section id="a">
		<div id="a1">

			<h1 class = "animated bounceInUp">CLUB DEPORTIVO
			PELICANOS VOLEY ARENA</h1>
			<p class ="animated bounceIn"id="p-1">KEEP CALM AND PLAY VOLLEYBALL</p>			
		</div>

	</section>
	

	<section  id="b" >
		<div class="animated fadeInUp"id="b2">
			<img class="activator" src="assets/image/secction2.png"> 
		</div>
		<div id="Nos">			
				<h2>SOBRE NOSOTROS</h2>
				<p class ="animated bounceIn"id="p-1">Siempre apuntamos alto</p>
				<p>
					El club deportivo de los pelicanos vóley arena se encuentran como pioneros en esta modalidad en la ciudad de Manizales, Caldas , además el club busca forjar en sus integrantes valores positivos que lo hacen lograr sobresalir en las distintas competencias que este deporte presenta; incluso siempre buscamos fortalecer las habilidades de los deportistas prestando atención a sus cualidades físicas y mentales y así obtener una adecuada sesión de acondicionamiento y  fortalecimiento para estas características… Siempre apuntamos alto y nos gusta que la gente comparta nuestra emoción por este deporte por lo que también somos pioneros en gestionar torneos y logramos satisfactoriamente nuestra intención principal que es integrar a la comunidad y competir sanamente.

				</p>
			
		</div>
	</section>