<div class="row">
    <input [(ngModel)]="player.id" type="hidden" id="id"/>
    <div class="row">
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.name" id="name" type="text" class="validate">
            <label class="active" for="name">Nombre</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.lastname" id="lastname" type="text" class="validate">
            <label class="active" for="lastname">Apellido</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.code" id="code" type="text" class="validate">
            <label class="active" for="code">Cedula</label>
        </div>
    </div>
    <div class="row">
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.email" id="email" type="text" class="validate">
            <label class="active" for="email">Email</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.rol" id="rol" type="text" class="validate">
            <label class="active" for="rol">Rol</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.phone" id="phone" type="text" class="validate">
            <label class="active" for="phone">Telefono</label>
        </div>
    </div>
    <div class="row">
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.age" id="age" type="text" class="validate">
            <label class="active" for="age">Edad</label>
        </div>
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.weigth" id="weigth" type="text" class="validate">
            <label class="active" for="weigth">Peso</label>
        </div>
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.height" id="height" type="text" class="validate">
            <label class="active" for="height">Estatura</label>
        </div>
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.titles" id="titles" type="text" class="validate">
            <label class="active" for="titles">Titulos deportivos</label>
        </div>
    </div>
    <div class="row">
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.strengths" id="strengths" type="text" class="validate">
            <label class="active" for="strengths">Fortalezas</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.link" id="link" type="text" class="validate">
            <label class="active" for="link">Red Social(Link)</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.image" id="image" type="text" class="validate">
            <label class="active" for="image">Foto (link)</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-ligth btn green" (click)="updatePlayer()" >
                <i class="material-icons right">edit</i>
                Actualizar</a>
        </div>
    </div>
</div>